<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Pedido Recibido</title>
    <style>
      * { box-sizing: border-box; margin: 0; padding: 0; font-family:
      "Helvetica"; font-size: 22px; }
    </style>
  </head>
  <body style="max-width: 800px; margin: auto; position: relative">
    <div style="height: 150px; padding: 0px 30px">
      <div
        style="
          width: 100%;
          height: 150px;
          max-width: 800px;
          background-image: url(https://res.cloudinary.com/dzjz8pe0y/image/upload/v1684439308/mailer/header_rkt1gv.jpg);
          background-repeat: no-repeat;
          background-position: top right;
          background-size: cover;
        "
      >
        <div
          style="
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            z-index: 10;
            padding: 0px 30px;
          "
        >
          <div style="height: 100%; padding-top: 35px">
            <h1
              style="
                color: white;
                font-weight: 800;
                font-style: italic;
                font-size: 70px;
              "
            >
              NUEVO PEDIDO
            </h1>
          </div>
          <div style="height: 100%; padding-top: 28px; margin-left: auto">
            <img
              style="width: 85px; height: 85px"
              src="https://res.cloudinary.com/dzjz8pe0y/image/upload/v1684443348/mailer/guanaco-rental-logo_frapks.png"
              alt="rental logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 0px 40px">
      <div style="max-width: 800px; display: flex; padding: 25px 0px 0px 0px">
        <p>Nuevo pedido de {{name}}</p>
        <p style="margin-left: auto">Teléfono: {{phone}}</p>
      </div>

      <p style="font-weight: 700; padding: 25px 0px 25px 0px">
        Número de pedido: #{{number}}
      </p>

      <table style="border-collapse: collapse; border: 1px solid black;">
        <thead>
          <tr>
            <th
              style="min-width:400px; font-weight: 400; text-align: left; padding: 15px 10px; border: 1px solid black"
            >ÍTEM</th>
            <th
              style="font-weight: 400; text-align: left; padding: 15px 10px; border: 1px solid black"
            >CANTIDAD</th>
          </tr>
        </thead>
        <tbody>
          {{#each equipmentList}}
            <tr style="border: 1px solid black;">
              <td
                style="min-width:400px; padding: 15px 10px; border: 1px solid black"
              >{{item}}</td>
              <td
                style="padding: 15px 10px; border: 1px solid black"
              >{{quantity}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <p style="font-weight: 700; padding: 25px 0px">
        Información de retiro y devolución:
      </p>

      <p style="font-weight: 700">
        RETIRO:
        {{startDate}}
        a las
        {{pickupHour}}hs
      </p>
      <p style="font-weight: 700">DEVOLUCIÓN: {{endDate}} a las 09:00hs</p>

      <p style="padding-top: 25px">
        DIRECCIÓN DE RETIRO: 25 de mayo 668 oeste - San Juan
      </p>
      <p>DIRECCIÓN DE RETIRO: Chacabuco 170 - Ciudad de Mendoza</p>

      <p style="padding: 25px 0px;">Recordá asistir con tiempo, los checkeos
        podrían demorar</p>
    </div>
  </body>
  <div style="padding: 20px 0px; max-width: 700px; margin: auto">
    <div
      style="
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        style="width: 200px; height: 200px"
        src="https://res.cloudinary.com/dzjz8pe0y/image/upload/v1684439308/mailer/guanaco_vjfeks.png"
      />
      <div>
        <div style="width: 500px; margin: auto; display: flex; padding: 20px 0">
          <a
            style="
              font-size: 15px;
              font-weight: 800;
              color: #cd6328;
              text-decoration: none;
            "
            href="https://www.guanacorental.com/"
          >WWW.GUANACORENTAL.COM</a>
          <a
            style="
              margin-left: auto;
              font-size: 15px;
              font-weight: 800;
              color: #cd6328;
              text-decoration: none;
            "
          >GUANACO.RENTALAUDIOVISUAL</a>
        </div>
        <div>
          <p style="font-size: 14px">
            En Guanaco estamos comprometidos con el cuidado, la preservación. la
            confidencialidad y el correcto uso de tus datos. No usamos
            información para otros fines que no sean estrictamente necesarios en
            el proceso de alquiler.
          </p>
        </div>
      </div>
    </div>
  </div>
</html>